<div class="category">
    <h1 class="main-category">カテゴリー</h1>
    <ul class="category-manu">
        <li class="category-name">
            <a href="#">hoge</a>
        </li>
        <li class="category-name">
            <a href="#">hoge</a>
        </li>
    </ul>
</div>

<div class="category">
    <h1 class="main-category">グループ</h1>
    <ul class="category-manu">
        <li class="category-name">
            <a href="#">hoge</a>
        </li>
        <li class="category-name">
            <a href="#">hoge</a>
        </li>
    </ul>
</div>