<%= render "header"%>
<div class="wrapper">
    <div class="main">
        <h1 class="history">Note</h1>
        <div class="main-history">
            <div class="history-title">
                <a href="#">⚾︎title</a>
            </div>
            <div class="history-name">
                <a href="#">hoge</a>
            </div>
        </div>
        <div class="main-history">
            <div class="history-title">
                <a href="#">⚾︎title</a>
            </div>
            <div class="history-name">
                <a href="#">hoge</a>
            </div>
        </div>
    </div>
    <div class="said-bar">
        <%= render "side_bar" %>
    </div>
</div>